<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.quantica"
    android:targetSandboxVersion="1">

    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <uses-feature android:name="android.hardware.type.watch" />

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Apptheme"
        android:usesCleartextTraffic="true">
        <activity android:name="com.example.quantica.Activities.Profile" />
        <activity
            android:name="com.example.quantica.Activities.Main"
            android:label="@string/title_Main"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity> <!-- recordar cambiar esto a la activiti de home -->
        <activity android:name="com.example.quantica.Activities.Dashboard"
            android:label="@string/title_activity_Dashboard"
            android:screenOrientation="portrait"
            />
        <activity
            android:name="com.example.quantica.Activities.register"
            android:screenOrientation="portrait"
            android:theme="@style/ThemeOverlay.MyApp.DarkSurface" />
        <activity
            android:name="com.example.quantica.Activities.log_in"
            android:label="@string/title_activity_log_in"
            android:screenOrientation="portrait"
            android:theme="@style/ThemeOverlay.MyApp.DarkSurface" />
    </application>

</manifest>